body {
    font-family: Inter;
}

.search-bar {
    display: block;
    width: 310px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    font-style: italic;
    border-style: solid;
    border-color: rgb(141, 134, 125);
}
.search-bar:hover {
    border-color: rgb(141, 134, 125);
    outline: none;
    width: 350px;
    height: 22px;

    transition: width 0.25s,
    height 0.25s;
}

.search-bar:focus{
    outline: none;
}

.weather-display {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather-today {
    border: 1px solid black;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.today-temperature {
    font-size: 85px;
    display: flex;
    justify-content: center;
    font-weight: 150;
}

.time-info {
    display: flex;
    justify-content: center;
    color: rgb(63, 62, 62);
}

.day-info {
    display: flex;
    justify-content: center;
    color: rgb(63, 63, 63);
    margin-bottom: 50px;
}

.today-icon {
    width: 180px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.today-description {
    display: flex;
    justify-content: center;
    color: rgb(45, 45, 45);
    font-size: 18px;
    margin-bottom: 8px;
}

.city {
    display: flex;
    justify-content: center; 
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 0;
}

.more-info {
    margin-top: 12px;    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.humidity {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: bolder;
}

.humidity-percentage {
    display: flex;
    justify-content: center;
    color:rgb(45, 45, 45);
    font-size: larger;
}

.wind {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: bolder;
}

.wind-speed {
    display: flex;
    justify-content: center;
    color:rgb(45, 45, 45);
    font-size: larger;
}

.weather-forecast {
    padding-left: 25px;
    margin-top: 50px;
    display: grid;
}

.forecast-day {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
}

.day-name {
    font-size: larger;
    font-weight: light;
}

.day-temperature {
    font-size: medium;
    font-weight: 300;
}

.day-icon {
    width: 80px;
}